@import "colors.scss";
@import "variables.scss";

:export {
  primary: {
    main: $primary-500;
    dark: $primary-600;
    light: $primary-400;
    light-100: $primary-100;
    light-200: $primary-200;
    light-300: $primary-300;
    light-400: $primary-400;
    dark-500: $primary-500;
    dark-600: $primary-600;
    dark-700: $primary-700;
    dark-800: $primary-800;
  }
  cat-color-1: {
    main: $cat-color-1;
    dark: $cat-color-1-dark;
    light: $cat-color-1-light;
  }
  cat-color-2: {
     main: $cat-color-2;
     dark: $cat-color-2-dark;
     light: $cat-color-2-light;
   }
  chart-colors: {
    cat-8: $chart-cat-8;
    cat-4: $chart-cat-4;
    cat-2: $chart-cat-2;
    grid: $grey-800;
  }
  table: {
    red: $system-warning;
    green: $system-success;
    icon: $grey-500;
    badge: {
      regular: {
        color: $table-badge-regular-text;
        background: $table-badge-regular-background;
      }
      pending: {
        color: $grey-700;
        background: $grey-300;
      }
      success: {
        color: $table-badge-success-text;
        background: $table-badge-success-background;
      }
      error: {
        color: $grey-000;
        background: $system-warning;
      }
    }
  }
  grey: {
    main: $grey-500;
    dark: $grey-600;
    light: $grey-400;
    light-000: $grey-000;
    light-100: $grey-100;
    light-200: $grey-200;
    light-300: $grey-300;
    light-400: $grey-400;
    dark-500: $grey-500;
    dark-600: $grey-600;
    dark-700: $grey-700;
    dark-800: $grey-800;
    dark-900: $grey-900;
  }

  red-button-active: {
    main: $red-button-main;
    dark: $red-button-dark;
    light: $red-button-light;
  }

  icon: {
    base-color: $icon-base-color;
    status-error: $icon-status-error;
    status-warn: $icon-status-warn;
    status-success: $icon-status-success;
    status-info: $icon-status-info;
    checkmark-purple: $icon-checkmark-purple;
    controls: $icon-control
  }
 }
