$grey-1111: #000000;
$grey-1000: #0E0E0E;
$grey-2000: #080808;
$grey-3000: #030303;
$grey-4000: #0A0A0A;
$grey-5000: #141414;
$grey-6000: #AFAFAF;
$grey-7000: #E0E0E0;
$grey-0000: #FFFFFF;
$primary-100: #00CDCD;
$primary-200: #08ECEC;
$primary-300: #00EAF9;
$primary-400: #01DDEB;
$primary-500: #0D8188;
$primary-600: #227F7F;


$primary-900: #2A4365;

$primary-1000: #D53F8C;



