@import "@/scss/colors.scss";

$page-header-height: 56px;
$tools-tabs-height: 150px;

$border-radius: 8px;
$border-radius-large: 12px;
$border-radius-small: 6px;

$field-height: 40px;
$chip-height: 30px;

$button-height: 40px;
$button-height-small: 32px;
$button-fixed-width: 164px;

$space-tiny: 4px;
$space-smallest: 8px;
$space-small: 12px;
$space-medium: 16px;
$space-normal: 18px;
$space-large: 24px;
$space-large-plus: 32px;
$space-largest: 40px;
$space-largest-plus: 48px;

$page-width-small: 1280px;
$page-width-medium: 1440px;
$page-width-large: 1920px;