$grey-000: #ffffff;
$grey-100: #f8f9f8;
$grey-200: #edeff3;
$grey-300: #d8dce5;
$grey-400: #b2b9c7;
$grey-500: #8792a4;
$grey-600: #6b7183;
$grey-700: #575667;
$grey-800: #43414f;
$grey-900: #2f2d37;
$grey-1000: #1d1c23;

$wpp-grey-000: #ffffff;
$wpp-grey-100: #f8f9fB;
$wpp-grey-200: #f0f2f5;
$wpp-grey-300: #e7eaee;
$wpp-grey-400: #c1c7cd;
$wpp-grey-500: #a2a9b0;
$wpp-grey-600: #8b919a;
$wpp-grey-700: #697077;
$wpp-grey-800: #4d5358;
$wpp-grey-900: #343a3f;
$wpp-grey-1000: #121619;

$wpp-overlay-bg-color: #4d535899;

$black-000: #000000;

$brand-100: #eceefc;
$brand-200: #d9d2f9;
$brand-300: #bbacf0;
$brand-400: #a683e6;
$brand-500: #905fde;
$brand-600: #7843cf;
$brand-700: #5b32ae;
$brand-800: #3f237f;
$brand-900: #2a1b5a;
$brand-1000: #1d133f;

$primary-100: #eee8ff;
$primary-200: #e2d9ff;
$primary-300: #cab8ff;
$primary-400: #8508e8;
$primary-500: #5e00b5;
$primary-600: #47039b;
$primary-700: #2f0069;
$primary-800: #0b001c;

$cat-color-1: #a683e6;
$cat-color-1-dark: #7843cf;
$cat-color-1-light: #d9d2f9;

$cat-color-2: #788fe8;
$cat-color-2-dark: #4f4dd0;
$cat-color-2-light: #c7dafa;

$system-warning: #f15619;
$system-danger: #df2f2f;
$system-success: #199546;

$red-button-main: #c40007;
$red-button-light: #df2f2f;
$red-button-dark: #921616;

$icon-base-color: #8b919a;
$icon-status-error: $red-button-light;
$icon-status-warn: $system-warning;
$icon-status-success: $system-success;
$icon-status-info: $icon-base-color;
$icon-checkmark-purple: $cat-color-2-dark;
$icon-edit-purple: $cat-color-2-dark;
$icon-remove: $red-button-main;
$icon-control: $grey-200;

$disabled-list-item: $icon-base-color;

$chart-cat-8: #c23642;
$chart-cat-4: #02a785;
$chart-cat-2: #4f4dd0;
