/* latin-ext */
@font-face {
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/fonts/sora/static/Sora-Regular.ttf");
}

@font-face {
  font-family: Sora;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~@/assets/fonts/sora/static/Sora-Medium.ttf");
}

@font-face {
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~@/assets/fonts/sora/static/Sora-SemiBold.ttf");
}

@font-face {
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~@/assets/fonts/sora/static/Sora-Bold.ttf");
}